# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# intermediate files
*.d

# build directory
build

# output directory
dist

# output files
*.out

# Linux save copies files
*~


